body {
    padding-top: 50px;
    padding-bottom: 20px;
}
    
.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #fff8f8;
}

.table1-striped > tbody > tr:nth-of-type(odd) {
    background-color: #e4f1fb;
}




.navbar-inverse .navbar-brand {
    color: #FEE7EF;
}
.navbar-inverse .navbar-nav > li > a {
    color: #FEE7EF;
}
a {
    color: #760d83;
    text-decoration: none;
}
input[type="radio"],
input[type="checkbox"] {
    margin: 6px ;
    margin-top: 1px \9;
    line-height: normal;
}
.footer {
    position: fixed;
    bottom: 10px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #510a5a;
}

#footer {
    height: 260px;
    background-color: #510a5a;
    color: #ecf1f7;
}

.rejestr {
    width: 40%;
}

.jumbotron {
    padding: 5rem 4rem;
    margin-top: 30px;
    background-color: #720a7e;
    color: #FEE7EF;
}

.navbar-inverse {
    background-color: #510a5a;
    border-color: #080808;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

dl {
    margin-top: 0;
    margin-bottom: 20px;
    margin-right: 200px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.postBox {
    background-color: white;
    width: 300px;
}

.commentBox {
    background-color: #FEE7EF;
    padding: 10px;
    border-radius: 10px;
}

.starFade {
    background-image: url('/Images/emptyS1.jpg');
    min-width: 26px;
    min-height: 26px;
    display: inline-block;
    cursor: pointer;
}

.starFadeN {
    background-image: url('/Images/emptyS1.jpg');
    min-width: 26px;
    min-height: 26px;
    display: inline-block;
}

.starGlow {
    background-image: url('/Images/fullSar1.jpg');
    min-width: 26px;
    min-height: 26px;
    display: inline-block;
    cursor: pointer;
}

.starGlowN {
    background-image: url('/Images/fullSar1.jpg');
    min-width: 26px;
    min-height: 26px;
    display: inline-block;
}


/* Set width on the form input elements since they're 100% wide by default */
input,
select {
    max-width: 280px;
}
