@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>Looking for a job? <br /></h3>
<h3>Issues using our application <br /></h3>
<h3>Contact us! <br /></h3>
<address>
    Greater S.A.<br />
    Redmond, WA 2121<br />
    <abbr title="Phone">P:</abbr>
    0811594495
</address>

<address>
    <strong>Support:</strong>   <a href="greater@example.com">admin@grater.com</a><br />
    <strong>Marketing:</strong> <a href="graterMarketing@example.com">Marketing@greater.com</a>
</address>

