@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">

    <p class="lead">
        GRater Is application for beauty seekrs. You can find here top rated therapist and the one who started the journey. 
        You can visit forum to find out about the new trends in beauty, offer or find job, know something about new events and find the specialist!

    </p>
    <p><a href="~/Article/IndexMain" class="btn btn-outline-warning btn-lg">Would you like to know more? &raquo;</a></p>
</div>
<div class="row">
    <div class="card col-md-4" style="width: 22%;">
        <h5 class="card-title">Register as Therapist and create your account!</h5>
        <img class="card-img-top" src="~/Images/therapist.png" alt="Therapist" >
        <div class="card-body">

            <p class="card-text">Create your account with information where users can find you, what are your best skills and how pasionate are you about beeing beauty therapist!.</p>
            <a href="~/Account/RegisterTherapist" class="btn btn-sm btn-outline-dark">Join Us! <p>Rate and be rated!</p></a>
        </div>
    </div>
    <div class="row">
        <div class="card col-md-4" style="width: 22%;">
            <h5 class="card-title">Register with us!</h5>
            <img class="card-img-top" src="~/Images/register g.png" alt="Therapist">
            <div class="card-body">

                <p class="card-text">Create your account to have access to list of rated beautitherapist, best SPAs and beauty forum.</p>
                <a href="~/Account/Register" class="btn btn-sm btn-outline-dark">Join Us! <p>Rate and be rated!</p></a>
            </div>
        </div>
        <div class="card col-md-4" style="width: 22%;">
            <h5 class="card-title">SPA's</h5>
            <img class="card-img-top" src="~/Images/spa.png" alt="Forum image">
            <div class="card-body">

                <p class="card-text">Find fantastic SPA to spend your day. Organize hen party or birthday with our tips!</p>
                <a href="~/Salon/Index" class="btn btn-sm btn-outline-dark">List of SPA's</a>
            </div>
        </div>
        <div class="card col-md-4" style="width: 22%;">
            <h5 class="card-title">Forum</h5>
            <img class="card-img-top" src="~/Images/forum.png" alt="Salons">
            <div class="card-body">

                <p class="card-text">Looking for Beauty news? Or maybe you meet therapist some time ago and you want to find her?.</p>
                <a href="~/Article/IndexMain" class="btn btn-sm btn-outline-dark">Check our Forum</a>
            </div>
        </div>
    </div>
