@using CaptchaMvc.HtmlHelpers
@{
    ViewBag.Title = "Register";
}
<h2>Register</h2>
<h1>
    Choose what type of Account would you like to create
</h1>
<li>@Html.ActionLink("Therapist", "Create", "Therapist")</li>
<li>@Html.ActionLink("User", "Create", "User")</li>
